<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-3">
				<%= bootstrap_form_for([@arbpl, @arbpl.matyp.build]) do |f| %>
				<%= f.text_field :name %>
				<%= f.text_field :bezeichnung %>
				<%= f.submit class: 'btn btn-success' %>
				<% end %>
			</div>
		</div>
	</div>
</div>