
<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-3">
				<h1>Maschinentypen</h1>
				<table class="table">
					<thead>
						<tr>
							<th>Maschinentyp</th>
							<th>Bezeichnung</th>						
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% Maschinentyp.all.each do |maschinentyp| %>
						<tr>
							<td><%= maschinentyp.name %></td>
							<td><%= maschinentyp.bezeichnung %></td>
							<td> 


							<%= link_to "Edit", maschinentyps_edit_path(maschinentyp), class: 'btn btn-info' %>

					</tr>
						<% end %>
					</tbody>
				</table>

				<%= link_to "New article", maschinentyps_new_path, class: 'btn btn-success' %> 

			</div>
		</div>
	</div>
</div>