<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></pre>
<h1><%= @user.email %></h1>
<h1>Ein Werk wurde hinzugefügt</h1>
<h2><%= @werk.werk %></h2>
<pre>

 
This email was sent out to you, because you are subscribed to the postbox-mailing-list.
If you want to unscribscribe, please use this url: <%= @url %>.