<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-10">
					      
				<ul class="list-group">

				</ul>

				<div class="col-lg-8">
					<h2>Neuer Maschinentyp hinzufügen</h2>

					<%= render 'maschinentyps/form' %>
					<%= link_to "Zurück zu den Werken", werks_path, class: 'btn btn-info' %>
				</div>

			</div>
		</div>
	</div>
</div>
