<li class="list-group-item active">
	<h4 class="list-group-item-heading"> <%= arbpl.name %> </h4>
	<p class="list-group-item-text">
		<%= arbpl.beschr %>
	</p>
	<p>
		<%= link_to 'löschen', [arbpl.werk, arbpl],
		class: 'btn btn-danger',
		method: :delete,
		data: { confirm: 'Sind Sie sicher?' } %>
	</p>
</li>