<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<%= bootstrap_form_for([@werk, @werk.arbpls.build]) do |f| %>
				<%= f.text_field :name, placeholder:'Arbeitsplatzname', label:'Name' %>
				<%= f.text_area :beschr, placeholder:'Arbeitsplatzbeschreibung', label:'Beschreibung' %>
				<%= f.submit "Arbeitsplatz hinzufügen", class: 'btn btn-success' %>
				<% end %>
			</div>
		</div>
	</div>
